HOW do people learn to accept what they once found unacceptable? In 1927 Frederic Thrasher published a “natural history” of 1,313 gangs in Chicago. Each of them lived by a set of unwritten rules that had come to make sense to gang members but were still repellent to everyone else. So it is with Donald Trump and many of his supporters. By normalising attitudes that, before he came along, were publicly taboo, Mr Trump has taken a knuckle-duster to American political culture.

The recording of him boasting about grabbing women “by the pussy”, long before he was a candidate, was unpleasant enough. More worrying still has been the insistence by many Trump supporters that his behaviour was normal. So too his threat, issued in the second presidential debate, to have Hillary Clinton thrown into jail if he wins. In a more fragile democracy that sort of talk would foreshadow post-election violence. Mercifully, America is not about to riot on November 9th. But the reasons have less to do with the state’s power to enforce the letter of the law than with the unwritten rules that American democracy thrives on. It is these that Mr Trump is trampling over—and which Americans need to defend.

Hurt locker

If this seems exaggerated, consider what Mr Trump has introduced to political discourse this year: the idea that Muslims must be banned from entering the country; that a federal judge born of Mexican parents was unfit to preside over a case involving Mr Trump; that a reporter’s disability is ripe for mockery; that “crooked” Mrs Clinton must be watched lest she steal the election. Daniel Patrick Moynihan wrote that when many bad things happen at once, societies define deviancy down, until the list of what is unacceptable is short enough to be manageable. When parents wonder if a presidential debate is suitable for their children to watch, Mr Trump’s promise to build a wall on the Mexican border no longer seems quite so shocking.

This way of doing politics is not new. Mr Trump is bringing into the mainstream a strain of for-profit bigotry and pessimism that believes life in the world’s richest, most powerful country at the beginning of the 21st century could not possibly get any worse (see Schumpeter). On this view, it is not specific policies that are at fault, but the system itself, which must be broken in order to solve America’s problems.

Mr Trump’s reality-television persona makes that proposition appear less alarming. It creates an ambiguity about how serious he is, and how seriously his audience needs to take him. With each outrage he has an iota of plausible deniability (“he’s just being Trump!”). With each sign that he is unfit to be head of state, some supporters can cling to an alternative reality (“I believe he’s a good man, really, and he’s a great businessman, so he’ll surely hire a great team”).

Not all those at Trump rallies are bigoted. But they are prepared to stand next to someone shouting chauvinist abuse or wearing a “Trump that bitch” T-shirt and conclude that if that’s what’s needed to defeat Mrs Clinton, then so be it. The best of Mr Trump’s supporters hope that, by letting a wrecking ball loose to demolish the slums and tenements of Washington politics, public life can be rebuilt—so that it represents real people, rather than elites and interest groups. When people conclude that politics is disgusting or absurd they lose faith in it. That usually makes things worse.

If Mr Trump actually wins the election, Republicans will have to meet the expectations he has created—of protectionism, spending increases allied to tax cuts, hostility to foreigners and a retreat from decades of foreign policy. That would make America poorer, weaker and less secure. Meanwhile, the Republican Party would still need the support of those who have cheered on Mr Trump (see Lexington). Far from being renewed, politics would become even nastier and more brutal.

If Mr Trump loses, Mrs Clinton will begin her presidency with tens of millions of people believing that she ought to be in jail. Perhaps he will lose so comprehensively that he takes the Republican majorities in both chambers down with him. That would afford Mrs Clinton at least two years, before the next mid-term elections, during which she might push through an immigration reform, increase spending on infrastructure and change the balance on the Supreme Court. These would be big achievements, but something close to 40% of voters would feel they were being steamrollered by a hostile government. Politics could become yet more polarised.

Partly because Mrs Clinton is mistrusted and disliked, the more probable outcome in November is that she will be the next president but will face a House of Representatives controlled by Republicans—and perhaps a Senate, too. This is a recipe for furious, hate-filled gridlock. There would be more government shutdowns and perhaps even an attempt at impeachment. It would also mean yet more government by executive actions and regulation to get around Congress, feeding the widespread sense that Mrs Clinton is illegitimate.

Tied down and unpopular at home, Mrs Clinton would be weaker abroad as well. She could less easily take risks by, say, standing up for trade or robustly seeing off challenges to American power from China and Russia. America’s role in the world would shrink. Frustration and disillusion would grow.

The city on a hill

Must it be this way? Once you start throwing mud in politics, it is very hard to stop. Yet, every so often, you get a glimpse of something better. When Todd Akin lost a winnable Senate seat in 2012, after haplessly trying to draw a distinction between “legitimate rape” and the not so legitimate sort, Republican candidates and political consultants took notice.

Such a realisation needs to strike home on a grand scale. Healthy politics is not gang warfare. It involves compromise, because to yield in some areas is to move forward in others. It is about antagonists settling on a plan, because to do nothing is the worst plan of all. It requires the insight that your opponent can be honourable and principled, however strongly you disagree. The 2016 election campaign has poured scorn on such ideas. All Americans are worse off as a result.